        <div id="u-{{id}}" class="card allUnits" style="width: 12rem;">
          <a href="./storage/{{id}}"><img
              id="u-{{id}}"
              class="card-img-top"
              src="https://images.unsplash.com/photo-1551313158-73d016a829ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RvcmFnZSUyMHVuaXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="Card image cap"
            /></a>
          <div id="u-{{id}}" class="card-body">
            <p id="u-{{id}}" class="card-text">id: {{id}} </p>
            <p id="u-{{id}}" class="card-text">size:
              {{unit_type}}</p>

          </div>
        </div>
