<div class="windowOne">
  <div class="border border-primary" style="width: 75vw">
    <div class="custButtons">
      <button
        id="viewCustomersButton"
        type="button"
        class="btn btn-outline-primary custButtons"
      >
        View Customers
      </button>
      <button
        id="modalBtn"
        type="button"
        class="btn btn-outline-primary custButtons"
        data-bs-toggle="modal"
        data-bs-target="#addcustModal"
      >
        Add Customer
      </button>

    </div>
    <div class="leftPanel">
      {{#each renderedCustomers as |customer|}}
          {{> customer-partial}}
      {{/each}}
    </div>

  </div>
  <div class="border border-primary" style="width: 100vw; height: 100vh">
    <div id="unitInfo" class="topBox">
      <div><p>{{renderedCustomer.first_name}}
          {{renderedCustomer.last_name}}</p></div>
      <div><p>Customer Balance: {{renderedCustomer.current_balance}}</p></div>
      <div><p>Customer Since: {{renderedCustomer.customer_since}}</p></div>
      <div><p>5 STAR Customer: {{renderedCustomer.good_standing}}</p></div>
      <div><p>Insured? {{renderedCustomer.current_customer}}</p></div>
      <div><p>Coverage: {{renderedCustomer.insurance_type}}</p></div>
      <div><p>Assigned Units: {{renderedCustomer.units_owned}}</p></div>
      <div><p>Associate ID: {{renderedCustomer.employee_id}}</p></div>

    </div>

  </div>
</div>