<div class="windowOne">
  <div class="border border-primary" style="width: 75vw">
    <div class="custButtons">
      <button
        id="assignUnitsButton"
        type="button"
        class="btn btn-outline-primary custButtons"
      >
        Assign Units
      </button>
      <button
        id="removeUnitButton"
        type="button"
        class="btn btn-outline-primary custButtons"
      >
        Remove Units
      </button>
    </div>
    <div class="unitCards">
      {{#each renderedUnits as |units|}}
        {{> unit-partial}}

      {{/each}}

    </div>

  </div>
  <div class="border border-primary rightPanel">
    <div id="unitInfo" class="topBox">
      <p>ID: {{renderedUnit.id}} </p>
      <p> Size: {{renderedUnit.unit_type}}</p>
      <p>Availability:
        {{#if renderedUnit.available}} Unit is available! {{/if}}
        {{#unless renderedUnit.available}}
          Unit is currently unavailable.
        {{/unless}}
      </p>
      <p>Insured:
        {{#if renderedUnit.insured}}
          This unit is insured.
          <p>The owner has insured the following items:
            {{renderedUnit.insured_items}}</p>
        {{/if}}
        {{#unless renderedUnit.insured}} This unit is not insured. {{/unless}}
      </p>
      {{#if renderedUnit.can_transport}}
        <p>This unit is prepared for transport</p>{{/if}}

    </div>
<div class="canvasChart">
  <canvas id="myChart"></canvas>
</div>


  </div>
</div>

<script>
  let myChart = document.getElementById("myChart").getContext("2d"); 
  let massPopChart = new Chart(myChart, {
     type: "doughnut", 
     data: { 
       labels: ["Available Units", "Reserved Units", ], 
       datasets: [ { 
         label: "Unit-Availability", 
         data: [{{available}}, {{unavailable}}],
         backgroundColor:['#00ff55','#dd3030']
         },
         ],}, 
         options: {}, 
         });
  console.log({{available}})
</script>